.button {
  padding: 8px 16px;
  border-radius: 4px;
  color: #ffffff;
  background: #03AFAE;
  transition: all ease-out 400ms;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  border: none;
  outline: none;

  &:hover {
    color: #ffffff;
    transform: scale(1.01);
    box-shadow: 2px 4px 10px rgba(34, 47, 79, 0.5)
  }

  &.is-large {
    padding: 8px 20px;
    font-weight: 800;
    font-size: 20px;
    //height: 54px;

    @media screen and (max-width: 768px) {
      font-size: 18px;
      padding: 8px 16px;
    }

    @media (min-resolution: 108dpi) {
     // font-size: 24px;
     // height: 48px;
    }

  }
}