.form {

  .label {
    color: #083C5A;
    display: block;
    font-size: 14px;
    font-family: 'Advent Pro', sans-serif;
    font-weight: 600;
    margin-bottom: 0;
    text-transform: uppercase;
  }

  .input,
  .select,
  .textarea {
    border-radius: 4px;
    border-color: rgba(222, 208, 191, 0.6);
    //padding-top: 2px;
    //padding-bottom: 2px;

    &:focus {
      outline: none;
      border-color: #DED0BF;
      box-shadow: 0 0 8px rgba(222, 208, 191, 1);
    }

    select {
      border-radius: 20px;
      border-color: #03AFAE;

      &:focus {
        outline: none;
        border-color: #DED0BF;
        box-shadow: 0 0 8px rgba(222, 208, 191, 1);
      }
    }
  }

  .input,
  .textarea {
    padding-left: 8px;
  }

  .input,
  .select {
    height: 32px;
  }

  .textarea {
    padding-top: 4px;
  }

  .select {
    &::after  {
      border-color: #03AFAE !important;
    }
  }
  //
  //.b-numberinput {
  //    width: 100%;
  //
  //    input {
  //      text-align: left;
  //
  //      &::placeholder {
  //        text-align: left;
  //      }
  //    }
  //}

  //.datepicker {
  //  .datepicker-header {
  //    padding-bottom: 10px;
  //    margin-bottom: 0;
  //
  //    .pagination-previous,
  //    .pagination-next {
  //      display: none;
  //    }
  //
  //    .pagination-list {
  //      .control {
  //        padding: 0;
  //
  //      }
  //    }
  //  }
  //
  //  .input {
  //    &:focus {
  //      outline: none;
  //      box-shadow: 0 0 8px rgba(40, 181, 181, 0.5) !important;
  //    }
  //  }
  //
  //  .dropdown-content {
  //    padding-top: 0;
  //  }
  //
  //  .datepicker-table {
  //   .datepicker-cell {
  //     padding: 4px 8px;
  //
  //     &.is-today {
  //       border-color: rgba(40, 181, 181, 0.5);
  //     }
  //
  //     &.is-selected {
  //      background-color: #28B5B5;
  //     }
  //   }
  //  }
  //}
  //
  //.help.counter {
  //  display: none;
  //}
}