.form {

  .label {
    color: #083C5A;
    display: block;
    font-size: 14px;
    font-family: 'Advent Pro', sans-serif;
    font-weight: 600;
    margin-bottom: 0;
    text-transform: uppercase;
  }

  .input,
  .select,
  .textarea {
    border-radius: 4px;
    border-color: rgba(222, 208, 191, 0.6);

    &:focus {
      outline: none;
      border-color: #DED0BF;
      box-shadow: 0 0 8px rgba(222, 208, 191, 1);
    }

    select {
      border-radius: 20px;
      border-color: #03AFAE;

      &:focus {
        outline: none;
        border-color: #DED0BF;
        box-shadow: 0 0 8px rgba(222, 208, 191, 1);
      }
    }
  }

  .input,
  .textarea {
    padding-left: 8px;
  }

  .input,
  .select {
    height: 32px;
  }

  .textarea {
    padding-top: 4px;
  }

  .select {
    &::after  {
      border-color: #03AFAE !important;
    }
  }

  .b-checkbox.checkbox:not(.button) {
    margin-right: 20px;
    margin-top: 2px;

    .control-label {
      padding-left: 5px;
    }
  }

  .b-checkbox.checkbox input[type=checkbox]:checked + .check{
    border-color: #03AFAE;
    background-color: #03AFAE;
    color: white;
  }

  .b-checkbox.checkbox:hover input[type=checkbox]:not(:disabled) + .check {
    border-color: #03AFAE;
  }

  .column {
    padding: 8px;
  }

  .help.counter {
    height: 0;
  }

}