body {
  min-height: 100vh;
  background: #F8F5F1;
  padding-top: 72px;
  max-width: 2400px;
  margin: 0 auto;

  @media screen and (max-width: 1024px) {
    padding-top: 56px;
  }
}

.section {
  padding: 20px 120px;

  @media screen and (min-width: 1920px) {
    padding: 20px 180px;
  }

  @media screen and (min-width: 2250px) {
    padding: 20px 220px;
  }

  @media screen and (max-width: 1024px) {
    padding: 20px 80px;
  }

  @media screen and (max-width: 768px) {
    padding: 20px 40px;
  }
}

*{
&::-webkit-scrollbar-track {
  -webkit-box-shadow: rem-calc(0px) rem-calc(0px) rem-calc(12px) rgba(0, 0, 0, 0.2);
  border: rem-calc(1px) solid rgba(0, 0, 0, 0.2);
  border-radius: rem-calc(8px);
}

&::-webkit-scrollbar-thumb {
  background-color: transparentize(#083C5A, 0.2);
  border-radius: 8px;
  background-clip: padding-box;
}

&::-webkit-scrollbar {
  width: 4px;
}

}