@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@400;600&family=Montserrat:ital,wght@0,400;0,600;1,400&display=swap');
@charset "UTF-8";

$body-font: 'Montserrat', sans-serif;

body, p {
  color: #083C5A;
  font-family: 'Montserrat', sans-serif;
}

h1, h2{
  font-family: 'Advent Pro', sans-serif;
}

h1, h2, h3, h4 {
  color: #083C5A;
}

p {
  font-size: 14px;

  @media (min-resolution: 240dpi) {
    font-size: 12px;
  }

  @media screen and (max-width: 760px)  {
    text-align: justify;
  }
}

h1 {
  font-size: 48px;

  @media screen and (max-width: 760px)  {
    font-size: 32px;
  }
}

h2 {
  font-size: 28px;
  font-weight: 700;

  //@media screen and (max-width: 1024px) {
  //  font-size: 20px;
  //}
  //
  //@media screen and (max-width: 768px) {
  //  font-size: 18px;
  //  text-align: center;
  //  display: inline-flex;
  //  flex-direction: column;
  //  align-items: center;
  //}
  //
  //@media screen and (max-width: 420px) {
  //  font-size: 32px;
  //}
}

h3 {
  font-size: 20px;

  @media (min-resolution: 208dpi) {
    font-size: 18px;
  }

  @media screen and (max-width: 1024px) {
    font-size: 20px;
  }

  @media screen and (max-width: 768px) {
    font-size: 18px;
  }
  //
  //@media screen and (max-width: 420px) {
  //  font-size: 28px;
  //}
}

h4 {
  font-size: 20px;

  @media (min-resolution: 108dpi) {
    font-size: 18px;
  }

  @media screen and (max-width: 1024px) {
    font-size: 18px;
  }
  //
  //@media screen and (max-width: 768px) {
  //  font-size: 32px;
  //}
  //
  //@media screen and (max-width: 420px) {
  //  font-size: 28px;
  //}
}

a {
  color: #083C5A;
  font-weight: 600;
  transition: all ease-out 400ms;

  &:hover {
    color: #03AFAE;
  }
}

.is-white {
  color: #fff;
}